.fakebody{
margin: 10px;
color: #FFFFFF;
}
body{
background: #555555;
overflow-x:hidden;
}

.navbar {
background: #555555;
border: none;
}

.navbar-default .navbar-brand {
color: #FFFFFF;
}

.navbar-default .navbar-nav li a {
color: #FFFFFF;
}

i {
color: #AFAFAF;
}

.stuff {
color: #FFFFFF;
}

.main {
background: url("jumbo.png");
background-size: 100%;
color: #FFFFFF;
}

.download {
background: #555555;
}

.centered {
    display: block;
    text-align: center;
}
